body {
  background-image: url( "https://s-media-cache-ak0.pinimg.com/736x/47/95/db/4795dba31d3c4e58d48c541fe91ee500.jpg" ), url("http://3.bp.blogspot.com/_BcAY0c9j9oo/S-gKBHlYE5I/AAAAAAAAAdU/n4gfuXL5t6U/s1600/fancy+pattern+copy.jpg");
  background-position: center, left top;
  background-repeat: no-repeat;
  background-size: 900px 570px, 1600px 800px;
}

#map {
  position: fixed;
  width: 697px;
  height: 388px;
  margin-top: 70px;
  margin-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  text-align: center;
  text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
  color: #7c7212;
  font-size: 2.5em;
  margin-top: 10px;
}

.plaque {
  position: relative;
  width: 350px;
  height: 60px;
  background-color: #b0a112;
  margin-bottom: -50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 57px;
  border-style: groove;
  border-color: #9f9009;
  border-width: 5px;
  overflow: hidden;
}

.plaque:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 400%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

.plaque:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.plaque:active:after {
  opacity: 0;
}


#countries {
  margin: auto;
}